@charset "UTF-8";
/* CSS Document */

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size:18px;
	line-height:33px;
	background:#edebec;
	color:#444;
	
}

body.checklist {background:#fff;}

h1 {font-family:Oswald, Helvetica, Arial, sans-serif;
font-weight:400;
font-size:2.5em;
padding-bottom:30px;
}

h2 {font-family:Oswald, Helvetica, Arial, sans-serif;
font-weight:300;
font-size:1.8em;
padding-bottom:30px;
}

a {color:#1d75a0;}

.button {padding:1em 2em;}
.button.success {background:#39b54a;}
.button.success:hover, .button.success:focus{background:#259735;}

footer {background:#2f3b40;}
footer ul {}
footer ul li {
	color:#909da4;
	list-style:none;
	float:left;
	padding:3em 1.5em;
	font-size:0.9em;
}
footer ul li a {
	color:#909da4;
	 position: relative;
  text-decoration: none;
}

footer ul li a:hover {color:#fff;}
footer ul li a:before {
	 content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

footer ul li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

footer .copy {
padding-top:3.6em ;
color:#909da4;
font-size:0.8em;
}

.mainContent {padding-bottom:4em;}

.blueBG {background:#0082b4; border-bottom:1px solid rgba(255, 255, 255, 0.4);}

.wfLogo {height:60px; padding:10px; opacity:.9}

.menu > li:not(.menu-text) > a {height:70px; padding:1.45rem 1rem}
.menu > li:not(.menu-text) > a.current { background:#0679a5;}

/*welcome page*/
.welcome header {
height:auto;
background:#595959;
background-image:url(../images/welcome_header_bludot.png);
background-repeat:no-repeat;

background-size:100%;
background-position:-100px 100%;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.69);
border-bottom:solid 1px #595959;
	}
	
.welcome header h1 {font-weight:300;
font-size:2em;
color:#b5e5f6;
padding:20px 0;
}

.welcome header h2 {color:#fff;
font-size:1.5em;
padding-bottom:20px;
}

.welcome .everyone {
	background:#989584;
	background-image:url(../images/welcome_team2.jpg);
	background-size:100%;
	background-position:center bottom;
	background-repeat:no-repeat;
	min-height:1100px;
}




.speech-bubble {
   position:relative;
    width: 90%;
    padding: 30px;
    margin: 2em auto;
    background-color:#fff;
  
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 10px solid rgba(0,0,0,0.095);
}

.speech-bubble:before,
.speech-bubble:after {
    content: "\0020";
    display:block;
    position:absolute;
    bottom:-20px;  /* Offset top the height of the pointer's border-width */
    left:46%;
    z-index:2;
    width: 0;
    height: 0;
    overflow:hidden;
    border: solid 20px transparent;
    border-bottom: 0;
    border-top-color:#FFF;
}
.speech-bubble:before {
    bottom:-30px; /* Offset of pointer border-width + bubble border-width */
    z-index:1;
    border-top-color:rgba(0,0,0,0.095);
}

.welcome .teambox {padding-top:3em;}
.welcome .teambox .photo {display:block; width:100%; height:350px; position:relative;}
.welcome .teambox .photo.msl {background-image:url(../images/members_MSL.jpg);
background-repeat:no-repeat;
background-size: 100%;
}

.welcome .teambox .photo.ash {background-image:url(../images/members_Ash.jpg);
background-repeat:no-repeat;
background-size: 100%;
}

.welcome .teambox .photo.ervin {background-image:url(../images/members_Ervin.jpg);
background-repeat:no-repeat;
background-size: 100%;
}

.welcome .teambox .photo .quote {
	background:rgba(70,184,108,0.8);
	padding:10px;
	height:auto;
	
	color:#fff;
	display:block;
	position:absolute;
	bottom:0;
	left:0;
}

.welcome .teambox .dotMe {
	border-bottom:dotted 1px #909da4;
	padding-bottom:2em;
	margin-bottom:2em;
}

.welcome .teambox .dotMe.last {border-bottom:none;}

.welcome .teambox h2 {padding-bottom:10px;}

.welcome .task{background:#1d75a0; padding-top:2em;}

/*css circle*/
.responsive-circle {
    margin: 0 auto;
    width: 80%;
}


.responsive-circle::after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 0;
    margin-bottom: 20px;
    padding-bottom: 100%;
    width: 100%;
}
.responsive-circle div {
    color: #fff;;
    float: left;
    line-height: 1em;
    margin-top: -0.5em;
    padding-top: 25%;
    text-align: center;
    width: 100%;
}

.responsive-circle div h2{
	font-family:Oswald, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 400;
	padding:0;
	margin:0;
}

.responsive-circle div p{
	font-size:0.9em;
	line-height:1.2em;
	width:95%;
}


.blue-circle::after {background:#accad9;}

.bluedark-circle::after {background:#10506f;}



.circlebase {width:100%; background:#10506f; height:20px; display:block;}

.triangle {
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}
.triangle-4 {
  width: 30px;
  height: 30px;
  border-bottom: solid 30px #10506f;
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
}

/*Checklist page*/
.checklist header {
height:auto;
background:#0082b4;
border-bottom:solid 1px #595959;
padding:2em;
margin-bottom:2em;
	}
	
.checklist header h1 {font-weight:400;
font-size:3em;
color:#fff;
padding:20px 0;
}

.checklist .leftSide{ }

.checklist .leftSide .taskBox {
	border-bottom:solid 5px #accad9;
	line-height:1.4em;
}

.checklist .leftSide .taskBoxDone {border-bottom:solid 5px #56c97f; margin-top:30px; margin-bottom:50px;}

.checklist .leftSide .task{
	padding:20px ;
	border-bottom:solid 1px #dadada;
	background:#ebf5fa;
}

.checklist .leftSide .taskBoxDone .task {
	background:#f8f8f8;
	}

.checklist .fadeColor {color:#accad9;}
.checklist .fadeColorGreen {color:#56c97f;}

.checklist .leftSide .task .done {font-size:.8em;}

.checklist .leftSide .task.first {
	font-size:.9em;
	font-style:italic;
}

.checklist .leftSide .task.current {background:#f4fafd;}
.checklist .leftSide .task.current a {color:#333;}

.checklist .progress {margin:.5em 0; background:#d2dce1;}
 .checklist .progress.round {border-radius: 1000px ;}
.checklist .progress-meter {background:#0076ad;}
.checklist .progress-meter.round {border-radius:999px 0 0 999px;}

.checklist .rightSide {	
}

.checklist .rightSide h2 {
	padding-bottom:10px;
	margin-top:1.6em;
}

.checklist .chie {
	font-weight: 600;
}

.checklist .rightSide p.tip {
	font-size:.9em;
	color:#666;
}

.checklist textarea {
	min-height:160px;
}

.checklist textarea:focus {
	border:solid 1px #39b54a;
}

.checklist  .textEntered{
	  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem;
  margin: 0 0 1rem;
  font-family: inherit;
  font-size: 1rem;
  color: #0a0a0a;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  border-radius: 0;
  background:#f8f8f8;
}

.checklist  .textEntered .dateTime {
	font-size:.8em;
	font-style:italic;
	text-align:right;
	color:#666;
}

/*checkbox styling*/

.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #0076ad;
    color: #fff;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #bbb;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #fff; /* focus style */
}

/* ========================================== */


	/* Small only */
@media screen and (max-width: 39.9375em) {
	body {font-size:17px;}
	
	h1 {font-size:1.6em;}
	h2 {font-size:1.4em;}
	
	footer ul {margin-left:0;}
	footer ul li {float:none; padding:1em;}
	footer .copy {padding-top:1em; padding-left:1em;}
		
	.welcome header {
		min-height:240px;  
		background-size:100%; 
		background-position:-60px 100%;
		}
		
	.welcome header h1 {font-size:1.5em; text-align:right;}
	.welcome header h2 {font-size:1.2em; text-align:right;}
	.welcome .teambox h2  {margin-top:1.2em;}
	.welcome .everyone {min-height:680px;}
	.speech-bubble { width:100%; padding:20px; margin-top:.5em;}
	
	.circlebase {height:10px; }
	.checklist .rightSide {	margin-top:3em;}

	.checklist .success {width: 100%;}
	}

/* Medium and up */
@media screen and (min-width: 40em) {}
	

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	footer ul li {padding:3em 1em;}
	footer .copy {padding-top:1em; padding-left:1em;}
	
	.welcome header {
		background-size:100%;
		background-position:-50px 100%;
	}

	.welcome header h1 {padding-top:40px;}
	
	.responsive-circle div h2{
		font-size:4em;
	}
	
	
	
	}

/* Large and up */
@media screen and (min-width: 64em) {
	.welcome header {
		min-height:400px;
	}
	
	.welcome header h1 {padding-top:60px;}
	
	.responsive-circle div h2{
		font-size:6em;
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	}